<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Dashboard</title>
    <link
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css"
      rel="stylesheet"
    />
    <link href="/public/css/dashboard.css" rel="stylesheet" />
  </head>
  <body>
    <div class="dashboard-container">
      <!-- Sidebar -->
      <%- include('../partials/sidebar') %>

      <!-- Main Content -->
      <div class="main-content">
        <!-- Header -->
        <%- include('../partials/header') %>

        <!-- Content -->
        <main class="content">
         
        </main>
      </div>
    </div>

    <script src="/public/js/dashboard.js"></script>
  </body>
</html>
